@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-anton {
  font-family: "Anton", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
